/* Alternate Angular Material prebuilt theme
   This file imports the deeppurple-amber prebuilt theme.
   It was added so you can try a different free theme quickly.
*/
@import "node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
